html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: #007a88;
  background-size: auto;
  background-position-x: center;
  background-position-y: bottom;
}

header {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 680px;
  padding-top: 50px;
}

h1 {
  font-family: "Petrona", "helvetica";
  font-size: 150px;
  font-weight: 200;
  max-width: 680px;
  display: flex;
  margin: 0 auto;
}

h2 {
  font-family: "Petrona", "helvetica";
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  margin: 40px auto 10px;
}

h3 {
  font-family: "Sanchez", "helvetica";

  font-weight: 100;
  font-size: 21px;
  line-height: 30px;
  margin: 0 auto;
  font-style: italic;
}

.email {
  display: flex;
  align-self: center;
  margin-top: 160px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 17px;
}

.email input {
  line-height: 30px;
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
  outline: none;
  margin: 0;
  border-radius: 4px 0 0 4px;
  font-size: 14px;
  color: #333;
  padding-left: 10px;
  width: 270px;
  text-shadow: none;
}

.email button:hover {
  background-color: hsl(186.2, 100%, 57.7%);
  cursor: pointer;
}

.email button {
  background-color: hsl(186.2, 100%, 42.7%);
  border: none;
  outline: none;
  color: #fff;
  border-radius: 0 4px 4px 0;
  margin: 0;
  font-size: 16px;
}

@media (max-width: 1200px) {
  header {
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
}
